p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  transform: rotate(0.03deg);
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}
a:visited {
  color: white;
}
div {
  word-break: keep-all;
}
