@font-face {
  font-family: 'Gamtan_Regular';
  font-weight: normal;
  src: url('./fonts/Gamtan_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gamtan_Bold';
  font-weight: normal;
  src: url('./fonts/Gamtan_Bold.ttf') format('truetype');
}

body {
  font-family: 'Gamtan_Regular';
  margin: 0;
}
